body {
  margin: 0;
  font-family: 'Roboto Mono', monospace; 
  font-style: normal;
  box-sizing: border-box;
  min-width: 360px;
  max-width: 1570px;
} 
h1 {
  margin-left: 40px; 
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Oswald',sans-serif;
}
span {
  text-transform: uppercase;  
  margin: 0;
  box-sizing: border-box;
}
